:root{
    --primary-color: #f8c515;
    --secondary-color: #2a9fd6;
    --font-color: #adafae;
    --completed-color: hsl(121, 100%, 25%);
    --modal-bg-color: rgb(54 59 89);
    --primary-font: 'Acme', sans-serif;
    --sub-font: 'Poppins', sans-serif;
}
/* hide input arrows/spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {box-sizing: border-box}

body{
    font-family: var(--sub-font);
}

/* header */
.heading-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 50px 30px 50px;
}
#form-link{
    border: none;
    text-decoration: none;
    color: #268fc0;
}
#form-link:hover{
    color: var(--font-color);;
}

/* cards */
.card-container{
    width: 85%;
    margin: auto;
}
.card-grid{
  display: grid;
  grid-gap: 1rem;
}
.card-child{
    width: 20rem;
    margin: 50px auto;
}
/* responsive grid */
@media (min-width: 768px) {
    .card-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1600px) {
    .card-grid { grid-template-columns: repeat(4, 1fr); }
}
#card-style{
    border: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 22rem;
    width: 20rem;
    height: 22rem;
}
/* responsive card sizing */
@media (max-width: 500px) {
    #card-style { 
        background-size: 18rem;
        width: 16rem;
        height: 18rem; 
    }
    .card-child {
        width: 16rem;
    }
}
@media (max-width: 319px) {
    #card-style { 
        background-size: 10rem;
        width: 10rem;
        height: 10rem; 
    }
    .card-child {
        width: 10rem;
    }
}
#card-body-style{
    display: flex;
    flex-direction: column-reverse;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 5px black;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(22, 22, 22, 0.6));   
    padding: 5px 10px;
}

#card-title{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.card-btn{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    width: 95%;
    margin: auto;
}
#card-update-page, #card-update-complete, #card-update-delete{
    border: none;
    color: var(--font-color);
    background-color: #060606;
}
#card-update-delete{
    grid-column: 1/2;
}
#card-update-page{
    grid-column: 7/8;
}
/* card hover state */
#card-update-complete:hover{
    transform: scale(1.4);
    color: hsla(121, 100%, 25%, 0.521);
}
#card-update-delete:hover{
    transform: scale(1.4);
    color: hsla(0, 93%, 47%, 0.623);
}
#card-update-page:hover{
    transform: scale(1.4);
    color: hsl(0, 0%, 100%);
}
.card-child:hover{
    transform: scale(1.05);
    transition-duration: 700ms;
}

/* form */
#title, #author, #pages-read, #pages-number, #url{
    color: white;
    background-color: rgba(255, 255, 255, 0.158);
}
.form-container{
    width: 60%;
    margin: 100px auto 200px auto;
}

#book-form{
    display: block;
    margin: auto;
}
#form-pages{
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(2,1fr);
}
.switch-container, .switch-container2{
    margin-right: 10px;
    padding: 0;
    text-align: center;
}

/* modal */
.delete-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 20%, 0.863);
    padding-top: 8rem;
}

.modal-content {
    background-color: rgb(20, 20, 20);
    margin: 5% auto 15% auto; 
    border: none;
    border-radius: 10px;
    width: 30rem; 
    height: 20rem;
}
.delete-modal-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    margin: auto;
}
.confirmMsg{
    grid-row: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.clearfix{
    grid-row: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cancelbtn, .deletebtn {
    margin: 20px;
    height: 40px;
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
.close:hover, .close:focus {
  color: hsla(0, 93%, 47%, 0.842);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
    .cancelbtn, .deletebtn {
      width: 80%;
    }
    .modal-content{
      width: 18rem;
      height: 20rem;
    }
  }
  @media screen and (max-width: 360px) {
      .cancelbtn, .deletebtn {
        width: 80%;
      }
      .modal-content{
        width: 14rem;
        height: 20rem;
      }
  }




 