body{
    font-family: 'Poppins', sans-serif;
}

/* book list */
th{
    color: hsl(210, 29%, 24%);
}
#form-link{
    border: none;
}

/* form */
.form-container{
    width: 80%;
    margin: 100px auto 200px auto;
}

.switch-container{
    text-align: center;
}